@font-face {
    font-family: "Gabarito";
    src: url('lib/Gabarito.ttf');
}

:root {
    --accent: #efd2ff;
    --primary: #393E46;
    --bg: #222831;
    
    color: var(--accent);
    font-family: "Gabarito";
    transition: color 0.2s, background-color 0.2s;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
    box-sizing: border-box;
}

body, html {
    background-color: var(--bg);
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.page {
    height: 100%;
    grid-column: 1/2;
	grid-row: 1/2;
}

h1 {
    font-size: 3rem;
    text-align: center;
    cursor: default;
}

input:focus {
    outline: none;
}

button {
    color: var(--accent);
    background-color: var(--primary);
    border: none;
    cursor: pointer;
}